
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<header align = left>
	<% if user_signed_in? %>
	<%= link_to current_user.email, edit_user_registration_path %>
	<%= link_to "salir", destroy_user_session_path, method: :delete %>
	<% else %>
	<%= link_to 'Ingresar', new_user_session_path%>
	<%= link_to 'Registrarse', new_user_registration_path%>
	<%end%>
</header> 
<div align=center>
<h1>INVENTARIO</h1>
<p>
	Texto sobre la aplicación. 
</p>

<p>
	<%= link_to 'Mis Obritahs', obras_path%>
</p>
</div>