<html>
  <body class= "bg">
    <div class = fadein>
     <div class = recuadrologin>
  &nbsp;&nbsp; 
      <div>
  &nbsp;&nbsp; 
        <div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
        <%= f.label :email %><br />
         <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
  &nbsp;&nbsp; 
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "Contraseña actual" %>
    </div>
  &nbsp;&nbsp; 
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    </div>
    &nbsp;&nbsp;
      <div class="actions">
        <%= f.submit 'Entrar/Sign In' %>
       </div>
    <% end %>
  &nbsp;&nbsp;
  &nbsp;&nbsp;
  <div>
    <%= render "devise/shared/links" %>
      </div>
      </div>
  </body>
</html>