<!DOCTYPE html>
<html>
<header>
	<nav>
		<div style= "text-align: left; float: left;padding-top: 10px;padding-left: 10px;padding-bottom: 20px;" class = fadein>
			<%=link_to (image_tag 'logo/flecha_atras_simple.png',style:"height:50px"), galerias_index_path %>
		</div>
	</nav>
</header>
 <h1 style= "text-align: center" class = fadein>
 	<%= image_tag 'logo/header_inventario.png',style:"height:30px; margin-top:-90px;";%></h1>
	
	<div class = clearfix>
		<div class = box style="text-align:right">
				<button type="button" class= boton_exportar>
					<%= link_to 'Exportar a PDF', galerias_index_path(@obras, format: 'pdf'), class: 'colorboton'%>
				</button>
		</div>
	</div>
&nbsp;&nbsp;

<body>
&nbsp;&nbsp;
<div style="overflow-x:auto;">
	<table  id="myTable" class= fadein_largo>
		<thead class= "tthead-light">
			<tr>
				<th >ARTISTA</th>
				<th >TÍTULO</th>
				<th >TÉCNICA</th>
				<th >MEDIDAS</th>
				<th >AÑO</th>
				<th >PRECIO</th>
				<th >VENDIDO</th>
				<th ></th>
				
			</tr>
		</thead>
			<% for obra in @selected_obras%>
		<tr>
			<td>
				<%= obra.artista%>
			</td>
			<td>
				<%= obra.titulo%>
			</td>
			<td>
				<%= obra.tecnica%>
			</td>
			<td>
				<%= obra.medidas%>
			</td>
			<td>
				<%= obra.año.strftime("%Y")%>
			</td>  
			<td>
				$<%= obra.precio%>
			</td>
			<td>
				<%= obra.vendido%>
			</td>
			<td>
			<div>
				<% if obra.imagen.attached? %>
    <%= image_tag obra.imagen.variant(resize: "200x200") %>
<% else %>
    Sin foto adjuntada
<% end %></div>
			</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Ver', obra_path(obra)%>
							</button>
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Eliminar' , obra_path(obra), method: :delete %>
						</button>
				</div>
				</td>
			
		</tr>
	<% end %> 
	</table>
</div>


</body>
<footer>
</footer>
</html>