<!DOCTYPE html>
<html>
<header>
	<nav>
		<div style= "text-align: left; float: left;padding-top: 10px;padding-left: 10px;padding-bottom: 20px;" class = fadein>
			<%=link_to (image_tag 'logo/flecha_atras_simple.png',style:"height:50px"), welcome_index_path %>
		</div>
		<div class = 'campo_busqueda'>
			<%=form_tag galerias_index_path, method: :get do%>
			<%=text_field_tag :search, params[:search], class: "busqueda" %>
			<%=submit_tag "Buscar", class: "boton_buscar"%>
			<%end%>
		</div>
	</nav>
</header>
 <h1 style= "text-align: center" class = fadein>
 	<%= image_tag 'logo/header_inventario.png',style:"height:30px; margin-top:-90px;";%></h1>
	
	<div class = clearfix>
		<div class = box style="text-align:left;">
			<button class = boton_nuevaobra>
				<%=link_to 'Nueva Obra', galerias_new_path, class: 'colorboton' %>
			</button>
		</div>
		<div class = box style="text-align:right">
				<button type="button" class= boton_exportar>
					<%= link_to 'Exportar a PDF', galerias_index_path(@obras, format: 'pdf'), class: 'colorboton'%>
				</button>
		</div>
	</div>
&nbsp;&nbsp;

<body>
&nbsp;&nbsp;
<div style="overflow-x:auto;">
	<%= form_tag feria_path, method: :post, id: 'send-obras-id' do  %>
	<table  id="myTable" class= fadein_largo>
		<thead class= "tthead-light">
			<tr>
				<th ></th>
				<th >ARTISTA</th>
				<th onclick="sortTable(0)">TÍTULO</th>
				<th onclick="sortTable(1)">TÉCNICA</th>
				<th >MEDIDAS</th>
				<th >AÑO</th>
				<th >PRECIO</th>
				<th >VENDIDO</th>
				<th >SITUACIÓN</th>
				<th ></th>
				
			</tr>
		</thead>
			<% @obras.each do |obra|%>
		<tr>
			<td><%=check_box_tag 'selected_obras[]', obra.id%></td>
			<td>
				<%= obra.artista%>
			</td>
			<td>
				<%= obra.titulo%>
			</td>
			<td>
				<%= obra.tecnica%>
			</td>
			<td>
				<%= obra.medidas%>
			</td>
			<td>
				<%= obra.año.strftime("%Y")%>
			</td>  
			<td>
				$<%= obra.precio%>
			</td>
			<td>
				<%= obra.vendido%>
			</td>
			<td>
				<%= obra.disponibilidad%>
			</td>
			<td>
			<div>
				<% if obra.imagen.attached? %>
    <%= image_tag obra.imagen.variant(resize: "200x200") %>
<% else %>
    Sin foto adjuntada
<% end %></div>
			</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Ver', obra_path(obra)%>
							</button>
				
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Editar' , galerias_edit_path(obra)%>
							</button>
					
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Eliminar' , obra_path(obra), method: :delete %>
						</button>
				</div>
				</td>
			
		</tr>
		<%= content_tag :button, :type => :submit, class: 'btn btn-success' do %>
		<% end %>
		<% end %>
	<% end %> 
	</table>
</div>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>


</body>
<footer>
</footer>
</html>