<!DOCTYPE html>
<html>
<header>
	<div style= "text-align: left" class = fadein>
			<%=link_to (image_tag 'logo/flecha_atras_app.png',style:"height:60px"), welcome_index_path %>
	</div>
 <h1 style= "text-align: center" class = fadein>
 	<%= image_tag 'logo/inventarix.png',style:"height:100px";%></h1>
	
	<div class = clearfix>
		<div class = box style="text-align:left;">
			<button class = boton_nuevaobra>
				<%=link_to 'NUEVA OBRA', new_obra_path, class: 'colorboton' %>
			</button>
		</div>
		<div class = box style="text-align:right">
				<button type="button" class= boton_exportar>
					<%= link_to 'Exportar inventario a PDF', obras_path(@obras, format: 'pdf'), class: 'colorboton'%>
				</button>
		</div>
	</div>
</header>
&nbsp;&nbsp;

<body>
&nbsp;&nbsp;
<div style="overflow-x:auto;">
	<table class= fadein_largo>
		<thead class= "tthead-light">
			<tr>
				<th width="250px">ARTISTA</th>
				<th width="250px">TÍTULO</th>
				<th width="150px">TÉCNICA</th>
				<th width="100px">MEDIDAS</th>
				<th width="120px">AÑO</th>
				<th width="60px">PRECIO</th>
				<th width="150px">DISPONIBILIDAD</th>
				<th width="250px">VENDIDO</th>
				<th width="200px"></th>
			</tr>
		</thead>
			<% @obras.each do |obra|%>
		<tr>
			<td>
				<%= obra.artista%>
			</td>
			<td>
				<%= obra.titulo%>
			</td>
			<td>
				<%= obra.tecnica%>
			</td>
			<td>
				<%= obra.medidas%>
			</td>
			<td>
				<%= obra.año%>
			</td>  
			<td>
				<%= obra.precio%>
			</td>
			<td>
				<%= obra.vendido%>
			</td>
			<td>
				<%= obra.disponibilidad%>
			</td>
			<td>
				<div>
				<%=image_tag obra.imagen.variant(resize: "200x200")%> 
			</div>
			</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Ver', obra_path(obra)%>
							</button>
				
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Editar' , edit_obra_path(obra)%>
							</button>
					
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Eliminar' , obra_path(obra), method: :delete %>
						</button>
				</div>
				</td>
			
		</tr>
	<% end %> 
	</table>
</div>
</body>
<footer>
</footer>
</html>