<!DOCTYPE html>
<html>
<header>
	<nav>
		<div style= "text-align: left; float: left;padding-top: 15px;padding-left: 10px;padding-bottom: 20px;" class = fadein>
			<%=link_to (image_tag 'logo/flecha_atras_simple.png',style:"height:60px"), welcome_index_path %>
		</div>
		<div class = 'campo_busqueda'>
			<%=form_tag obras_path, method: :get do%>
			<%=text_field_tag :search, params[:search], class: "busqueda" %>
			<%=submit_tag "Buscar", class: "boton_buscar"%>
			<%end%>
		</div>
	</nav>
</header>
 <h1 style= "text-align: center" class = fadein>
 	<%= image_tag 'logo/header_inventario.png',style:"height:50px; padding-top:10px";%></h1>
	
	<div class = clearfix>
		<div class = box style="text-align:left;">
			<button class = boton_nuevaobra>
				<%=link_to 'NUEVA OBRA', galerias_new_path, class: 'colorboton' %>
			</button>
		</div>
		<div class = box style="text-align:right">
				<button type="button" class= boton_exportar>
					<%= link_to 'Exportar a PDF', obras_path(@obras, format: 'pdf'), class: 'colorboton'%>
				</button>
		</div>
	</div>
&nbsp;&nbsp;

<body>
&nbsp;&nbsp;
<div style="overflow-x:auto;">
	<table class= fadein_largo>
		<thead class= "tthead-light">
			<tr>
				<th width="250px">ARTISTA</th>
				<th width="250px">TÍTULO</th>
				<th width="150px">TÉCNICA</th>
				<th width="100px">MEDIDAS</th>
				<th width="110px">AÑO</th>
				<th width="60px">PRECIO</th>
				<th width="100px">VENDIDO</th>
				<th width="100px">DISPONIBILIDAD</th>
				<th width="200px"></th>
				
			</tr>
		</thead>
			<% @obras.each do |obra|%>
		<tr>
			<td>
				<%= obra.artista%>
			</td>
			<td>
				<%= obra.titulo%>
			</td>
			<td>
				<%= obra.tecnica%>
			</td>
			<td>
				<%= obra.medidas%>
			</td>
			<td>
				<%= obra.año.strftime("%Y")%>
			</td>  
			<td>
				<%= obra.precio%>
			</td>
			<td>
				<%= obra.vendido%>
			</td>
			<td>
				<%= obra.disponibilidad%>
			</td>
			<td>
			<div>
				<% if obra.imagen.attached? %>
    <%= image_tag obra.imagen.variant(resize: "200x200") %>
<% else %>
    Sin foto adjuntada
<% end %></div>
			</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Ver', obra_path(obra)%>
							</button>
				
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Editar' , galerias_edit_path(obra)%>
							</button>
					
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Eliminar' , obra_path(obra), method: :delete %>
						</button>
				</div>
				</td>
			
		</tr>
	<% end %> 
	</table>
</div>
</body>
<footer>
</footer>
</html>