<h1 class= "botonentrar" style="text-align: left;">
				<button type="button" class="btn btn-dark">
					<%= link_to 'Atr치s', galerias_index_path%>
				</button>
			</h1>

<body class= "bg">
	<div class = fadein>
		<div class = recuadronuevaobra>
			<h1>Ingresar Nueva Obra</h1>
		<%= form_for :obras, url: obras_path do |f| %>
		<p>
			<%= f.label :artista %><br>
			<%= f.text_field :artista %>
		</p>
		<p>
			<%= f.label :titulo %><br>
			<%= f.text_field :titulo %>
		</p>
		<p>
			<%= f.label :tecnica %> <br>
			<%= f.text_field :tecnica%>
		</p>
		<p>
			<%= f.label :medidas %> <br>
			<%= f.text_field :medidas %>
		</p>
		<p>
			<%= f.label :a침o %><br>
			<%= f.date_select  :a침o, {:discard_day => true, :discard_month => true}%>
		</p>
		<p>
			<%= f.label :precio, 'Precio USD' %><br>
			<%= f.number_field :precio %>
		</p>
		<p>
			<%=f.label :imagenes %><br>
			<%=f.file_field :imagen%>
		</p>
		<p>
			<%= f.label :vendidx%>
			<%= f.check_box :vendido%>
		</p>
		<p>
			<%= f.label :situaci칩n %><br>
			<%= f.text_field :disponibilidad %>
		</p>
		<p><button>
			<%= f.submit 'Subir Obra' %> 
		</button>
		</p>
	
		<% end %>
		</div>
	</div>
</body>