<!--<header align = left >
  <p style= "text-align: left;">
	  	<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-secondary">
				<%= link_to 'Atrás', galerias_index_path%>
			</button>
			<button type="button" class="btn btn-secondary">
				<%=link_to 'INICIO', welcome_index_path%>
			</button>
		</div>
	</p>
</header>-->
<body style="align-items: center;"class = fondoshowobra>
	<div class=contenedordeobras>
		<p>
		<%= image_tag @obra.imagen ,style:"width:550px", align: "center";%>
		</p>
		&nbsp;&nbsp;
		<p>
		<%= @obra.artista%>
		</p>
		&nbsp;&nbsp;
		<p><strong>
		<%= @obra.titulo%>
		</strong>
		</p>
		<p><i>
		<%= @obra.tecnica%>
		</i>
		</p>
		<p>
		<%= @obra.medidas%>
		</p>
		<p>
		<%= @obra.año.strftime("%Y")%>
		</p>
		<p><strong>Precio USD:</strong>
		<%= @obra.precio%>
		</p>
		<p><strong>Disponibilidad:</strong>
		<%= @obra.disponibilidad%>
		</p>
		
	  	<p style= "text-align: center;">
	  		<button type="button" class="btn btn-warning">
	  			<%= link_to 'Exportar a PDF',obra_path(@obra, :format => :pdf)%>
	  		</button></p>
	</div>
</body>
<footer>
	
</footer>