
<!DOCTYPE html>
<html>
<header>
		<div style= "text-align: center" class = fadein>
 			<%= image_tag 'logo/header_inventario.png',style:"height:25px;float:left;"%>
 		</div>
 		<div class="btn-group" role="group" aria-label="Basic example" style="float: right;">
		<% if user_signed_in? %>
			<button type="button" class="btn btn-secondary">
				<%= link_to current_user.email, edit_user_registration_path %>
			</button>
			<button type="button" class="btn btn-secondary">
				<%= link_to "salir", destroy_user_session_path, method: :delete %>
			</button>
		<%end%>
		</div><br>
 </header>
 <body>
	<div style="width: 100%; float: left; padding-top: 30px;">
	
			<button class = boton_nuevaobra style="float: left; margin-bottom: 10px;">
				<%=link_to 'Nueva Obra', new_obra_path, class: 'colorboton' %>
			</button>
		</div><br>
		<button type="button" class= boton_exportar style="color: black;" >
					<%= link_to 'Exportar a PDF',obras_path(@obras, :format => :pdf), class: 'colorboton'%>
			</button>
		<div class = 'campo_busqueda' style="padding-bottom: 20px;">
			<%=form_tag obras_path, method: :get do%>
			<%=text_field_tag :search, params[:search], class: "busqueda" %>
			<%=submit_tag "Buscar", class: "boton_buscar"%>
			<%end%>
		</div>
		
<div class="tabla-artista">
	<table >
		<thead class= "tthead-light">
			<tr>
				<th>Título</th>
				<th>Técnica</th>
				<th>Medidas</th>
				<th>Año</th>
				<th>Precio</th>
				<th>Situación</th>
				<th></th>
			</tr>
		</thead>

			<% @obras.each do |obra|%>
		<tr>
			<td>
				<%= obra.titulo%>
			</td>
			<td>
				<%= obra.tecnica%>
			</td>
			<td>
				<%= obra.medidas%>
			</td>
			<td>
				<%= obra.año.strftime("%Y")%>
			</td>  
			<td>
				$<%= obra.precio%>
			</td>
			<td>
				<%= obra.disponibilidad%>
			</td>
			<td>
				<div>
				<% if obra.imagen.attached? %>
  					<%=image_tag obra.imagen.variant(resize: "150x150")%> 
			<% end %>
				</div>
			</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Ver', obra_path(obra)%>
							</button>
				
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Editar' , edit_obra_path(obra)%>
							</button>
					
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Eliminar' , obra_path(obra), method: :delete %>
						</button>
				</div>
				</td>
			
		</tr>
	<% end %> 
	</table>
</div>

</body>
<footer>
</footer>
</html>
