
<!DOCTYPE html>
<html>
<header>
	<div style= "text-align: left">
		<button type="button" class="btn btn-outline-success">
			<%=link_to 'INICIO', welcome_index_path %>
		</button> 
	</div>
 <h1 class = fadein><%= image_tag 'logo/inventarix.png',style:"height:100px";%></h1>
	<div style= "text-align: left">
		<button type="button" class="btn btn-outline-primary">
			<%=link_to 'NUEVA OBRA', new_obra_path %>
		</button>
	</div>
</header>
<body>
&nbsp;&nbsp;
<div style="overflow-x:auto;">
	<table>
		<thead class= "tthead-light">
			<tr>
				<th width="250px">TÍTULO</th>
				<th width="150px">TÉCNICA</th>
				<th width="100px">MEDIDAS</th>
				<th width="120px">AÑO</th>
				<th width="60px">PRECIO</th>
				<th width="150px">DISPONIBILIDAD</th>
				<th width="200px"></th>
			</tr>
		</thead>
			<% @obras.each do |obra|%>
		<tr>
			<td>
				<%= obra.titulo%>
			</td>
			<td>
				<%= obra.tecnica%>
			</td>
			<td>
				<%= obra.medidas%>
			</td>
			<td>
				<%= obra.año%>
			</td>  
			<td>
				<%= obra.precio%>
			</td>
			<td>
				<%= obra.disponibilidad%>
			</td>
			<td>
				<div>
				<%=image_tag obra.imagen.variant(resize: "200x200")%> 
			</div>
			</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Ver', obra_path(obra)%>
							</button>
				
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Editar' , edit_obra_path(obra)%>
							</button>
					
						<button type="button" class="btn btn-secondary">
								<%= link_to 'Eliminar' , obra_path(obra), method: :delete %>
						</button>
				</div>
				</td>
			
		</tr>
	<% end %> 
	</table>
</div>
</body>
<footer">
	<p style= "text-align: right;">
		<button type="button" class="btn btn-warning text-danger">
			<%= link_to 'Exportar inventario a PDF', obras_path(@obras, format: 'pdf')%>
		</button>
	</p>
</footer>
</html>
