<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1>Ingresar Nueva Obra</h1>
<%= form_for :obras, url: obras_path do |f| %>
<p>
	<%= f.label :titulo %><br>
	<%= f.text_field :titulo %>
</p>
<p>
	<%= f.label :tecnica %> <br>
	<%= f.text_field :tecnica%>
</p>
<p>
	<%= f.label :medidas %> <br>
	<%= f.text_field :medidas %>
</p>
<p>
	<%= f.label :año %><br>
	<%= f.date_select :año %>
</p>
<p>
	<%= f.label :precio, 'Precio USD' %><br>
	<%= f.number_field :precio %>
</p>
<p>
	<%=f.label :imagenes %><br>
	<%=f.file_field :imagenes, multiple: true %>
</p>
<p>
	<%= f.label :disponibilidad %><br>
	<%= f.text_field :disponibilidad %>
</p>

<p>
	<%= f.submit 'Subir Obra' %> 
</p>
<p>
	<%= link_to 'Atras', obras_path%>
</p>
<% end %>