<header align = right >
  <p style= "text-align: right;"><div class="btn-group" role="group" aria-label="Basic example">
	<button type="button" class="btn btn-secondary"><%= link_to 'Atrás', obras_path%></button>
	<button type="button" class="btn btn-secondary"><%=link_to 'INICIO', welcome_index_path%></button>
</div></p>
</header>
<body style="align-items: center;">
 <div>
</div>
<div style= "text-align: left;" >
<p><strong>
<%= @obra.titulo%>
</strong>
</p>
<p><i>
<%= @obra.tecnica%>
</i>
</p>
<p>
<%= @obra.medidas%>
</p>
<p>
<%= @obra.año%>
</p>
<p><strong>Precio USD:</strong>
<%= @obra.precio%>
</p>
<p><strong>Disponibilidad:</strong>
<%= @obra.disponibilidad%>
</p>
</div>

  </body>
  <p style= "text-align: left;">
  	<%= link_to 'Exportar a PDF'%>
  </p>



