<!DOCTYPE html>
<html>
<head>
    <title>Bóveda</title>
   <%= favicon_link_tag asset_path('logo/favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width-devise-width, initial-scale-1, maximum-scale-1">
  </head>
  <body>
    <div class="notice"><%= notice %>
      <div class="alert"><%= alert %>
    <%= yield %>
  </body>
  
</html>
